name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0
        persist-credentials: false
    - name: Set up Conda with Python 3.10
      uses: conda-incubator/setup-miniconda@v3
      with:
        environment-file: environment.yml
        activate-environment: hst123
        auto-update-conda: true
    - name: Install the package and dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install .[test]
    - name: Run tests
      run: |
        pytest tests/ -v --tb=short
